<footer class="footer" data-theme="light">
    <div>
        <a title="Web Analytics" href="https://clicky.com/101485354"><img alt="Clicky" src="//static.getclicky.com/media/links/badge.gif"/></a>
        <script async data-id="101485354" src="//static.getclicky.com/js"></script>
        <img alt="Static Badge" src="https://img.shields.io/badge/masem-pyseoa-green?link=https%3A%2F%2Fpysty.dev%2Fpyseoa.html">
        <img alt="Static Badge" src="https://img.shields.io/badge/masem-PySty-green?link=https%3A%2F%2Fpysty.dev%2Fpysty.html">
    </div>
    <div>
        <nav aria-label="Social links">
            <ul class="social-links">
                <li>
                    <a href="mailto:contact@masem.at" aria-label="Send an email to contact@masem.at">
                        <i class="fas fa-envelope"></i> Email
                    </a>
                </li>
                <li>
                    <a href="https://github.com/sempre76" target="_blank" rel="noopener noreferrer" aria-label="GitHub profile">
                        <i class="fab fa-github"></i> GitHub
                    </a>
                </li>
                <li>
                    <a href="https://linkedin.com/in/mario-semper-94475528/" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn profile">
                        <i class="fab fa-linkedin"></i> LinkedIn
                    </a>
                </li>
                <li>
                    <a href="https://x.com/masemContact" target="_blank" rel="noopener noreferrer" aria-label="X (Twitter) profile">
                        <i class="fab fa-x-twitter"></i> X
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/masemcontact/" target="_blank" rel="noopener noreferrer" aria-label="Instagram profile">
                        <i class="fab fa-instagram"></i> Instagram profile
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div>
        <a href="https://www.flaticon.com/de/kostenlose-icons" title="Icons">Icons by Freepik - Flaticon</a>
    </div>
</footer>
