<footer class="footer">
    <div>
        <a title="Web Analytics" href="https://clicky.com/101485354"><img alt="Clicky" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a>
        <script async data-id="101485354" src="//static.getclicky.com/js"></script>
        <img alt="Static Badge" src="https://img.shields.io/badge/masem-pyseoa-green?link=https%3A%2F%2Fpysty.dev%2Fpyseoa.html">
        <img alt="Static Badge" src="https://img.shields.io/badge/masem-PySty-green?link=https%3A%2F%2Fpysty.dev%2Fpysty.html">
    </div>
    <div>
        <a href="https://x.com/masemContact"><img alt="X icon" src="{{ '/assets/images/brand.png' | relative_url }}">@masemContact</a>
    </div>
    <div>
        Icons by: <a href="https://www.flaticon.com/de/kostenlose-icons" title="Icons">Icons erstellt von Freepik - Flaticon</a>
    </div>
</footer>