<header class="site-header" role="banner">
    <div class="wrapper">
        <div class="brand-group">
            <a href="{{ '/' | relative_url}}">
                <img src="{{ '/assets/images/brand.png' | relative_url }}" alt="PySty" class="pysty-dev-brand-img">
            </a>
            <!--<a class="site-title" href="{{ "/" | relative_url }}">{{ site.title | escape}}</a>-->
        </div>
        <nav class="site-nav">
            <!--
            {% for page in site.pages %}
                {% if site.header_pages contains page.path %}
                    <a class="page-link" href="{{ page.url | relative_url }}">{{ page.title }}</a>
                {% endif %}
            {% endfor %}
            -->
            <a class="page-link" href="/pysty.html">PySty</a>
            <a class="page-link" href="/pyseoa.html">pyseoa</a>
            <a class="page-link" href="/masemdb.html">masemdb</a>
            <a class="page-link" href="/colors.html">Color Picker</a>
            <a class="page-link" href="/about.html">About</a>
            <!-- Dark Mode Toggle Button -->
            <button id="darkModeToggle" onclick="toggleTheme()"></button>
        </nav>
    </div>
</header>