<header class="site-header" role="banner">
    <div class="wrapper">
        <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title | escape}}</a>

        <nav class="site-nav">
            {% for page in site.header_pages %}
                <a class="page-link" href="{{ page | relative-url }}">{{ site.pages | where: "path", page | first | dig:"title" }}</a>
            {% endfor %}
            <!-- Dark Mode Toggle Button -->
            <button id="darkModeToggle" onclick="toggleTheme()"></button>
        </nav>
    </div>
</header>