<aside class="side-panel">

    {% for section in page.side_panel.sections %}
    <section>
        <h4><strong>{{ section.title }}</strong></h4>
    </section>
    {% endfor %}


    <!-- <section>
        <h4><strong>{{ page.side_panel.sections }}</strong></h4>
        <a href="https://masem.at/s/pysty" target="_blank" title="masem" rel="noopener" aria-label="masem website">Website</a>
    </section>
    <section>
        <h4><strong>Project Links</strong></h4>
        {% for item in page.side_panel.project_section %}
            <a href="{{ item.link }}" rel="noopener noreferrer" target="_blank" aria-label="{{ item.title }}">
                {% if item.badge %}
                    <img src="{{site.badge_root}}{{item.badge}}" alt="item.title">
                {% else %}
                    {{ item.img }}
                {% endif %}
            </a>
        {% endfor %}
    </section>
    <section>
        <h4>Docker 🐳</h4>
        {% for item in page.side_panel.docker_section %}
            <a href="{{ item.link }}" rel="noopener noreferrer" target="_blank" aria-label="{{ item.title }}">
                {% if item.img %}
                    {{ item.img }}
                {% endif %}
            </a>
        {% endfor %}
    </section>
    <section>
        <h4>Support for</h4>
        {% for item in page.side_panel.support_section %}
            <a href="{{ item.link }}" rel="noopener noreferrer" target="_blank" aria-label="{{ item.title }}">
                <img src="{{site.badge_root}}{{item.badge}}" alt="item.title">
            </a>
        {% endfor %}
    </section>
    <section>
        <h4>Powered by</h4>
        {% for item in page.side_panel.powered_section %}
        <a href="{{ item.link }}" rel="noopener noreferrer" target="_blank" aria-label="{{ item.title }}">
            <img src="{{site.badge_root}}{{item.badge}}" alt="item.title">
        </a>
        {% endfor %}
    </section> -->
    <section>
        <h4>Donate</h4>
        <form action="https://www.paypal.com/donate" method="post" target="_top">
            <input type="hidden" name="business" value="6Y72SJVNPAU4S" />
            <input type="hidden" name="no_recurring" value="0" />
            <input type="hidden" name="item_name" value="Support pyseoa's open-source development and hosting – every contribution helps!" />
            <input type="hidden" name="currency_code" value="EUR" />
            <input type="image" src="https://www.paypalobjects.com/en_US/AT/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
            <img alt="" border="0" src="https://www.paypal.com/en_AT/i/scr/pixel.gif" width="1" height="1" />
        </form>
        <script async
            src="https://js.stripe.com/v3/buy-button.js">
        </script>

        <stripe-buy-button
            buy-button-id="buy_btn_1RVPvPP0wjowDHHC1FKokeM1"
            publishable-key="pk_test_51RVPfsP0wjowDHHCYXoclmSsnGrIzBruNHUTkLnw035DA5aW33ibofYyNmemu5yWogfqAHyK6Q8Yd8Y9vdPF7lIp00nNDKSzXs"
        >
        </stripe-buy-button>
    </section>
</aside>