<aside class="side-panel">
    <section>
        <h4>Project Links</h4>
        {% for item in page.side_panel.project_section %}
            <a href="{{ item.link }}" rel="noopener noreferrer" target="_blank" aria-label="{{ item.title }}">
                <img src="{{site.badge_root}}{{item.badge}}" alt="item.title">
            </a>
        {% endfor %}
    </section>
    <section>
        <h4>Support for</h4>
        {% for item in page.side_panel.support_section %}
            <a href="{{ item.link }}" rel="noopener noreferrer" target="_blank" aria-label="{{ item.title }}">
                <img src="{{site.badge_root}}{{item.badge}}" alt="item.title">
            </a>
        {% endfor %}
    </section>
    <section>
        <h4>Powered by</h4>
        {% for item in page.side_panel.powered_section %}
        <a href="{{ item.link }}" rel="noopener noreferrer" target="_blank" aria-label="{{ item.title }}">
            <img src="{{site.badge_root}}{{item.badge}}" alt="item.title">
        </a>
        {% endfor %}
    </section>
    <section>
        {% if page.side_panel.donation_section %}
        <h4>Donate</h4>
        {{ page.side_panel.donation_section }}
        {% endif %}
    </section>
</aside>