:root {
    --bg: #fff;
    --text: #222;
    --text-bue: #9CDCFF;
    --text-brown: #AC4C1F;
    --text-yellow: #FFC914;
}

[data-theme="dark"] {
    --bg: #121;
    --text: var(--text-bue);
}

[data-theme="dark"] {
    --code-bg: #1e1e1e;
    --code-text: #f1f1f1;
}

[data-theme="light"] {
    --code-bg: #f5f5f5;
    --code-text: #333;
}

[data-theme="dark"] .site-tile,
[data-theme="dark"] .site-nav a,
[data-theme="dark"] .site-nav {
    color: var(--text)
}

[data-theme="dark"] .site-header {
    background-color: #1a1a1a;
    border-bottom: 1px solid #444;
}

[data-theme="dark"] .page-link:hover {
    color: #ddd;
}

[data-thene="dark"] .page-link:active {
    color: var(--text-brown);
}

[data-theme="dark"] .container h1,
[data-theme="dark"] .container h2,
[data-theme="dark"] .container h3 {
    color: var(--text-brown)
}

[data-theme="dark"] .container h3,
[data-theme="dark"] .container h4,
[data-theme="dark"] .container h5 {
    color: var(--text-yellow)
}

body {
    background-color: var(--bg);
    color: var(--text);
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: Consolas, 'Courier New', Courier, monospace;
}

.container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.pysty-dev-img {
    width: 200px;
    border-radius: 12px;
    display: block;
    margin: 0 auto;
}

.pysty-dev-brand-img {
    height: 50px;
}

.code-container {
    position: relative;
    margin: 1rem 0;
}

.copy-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 0.8rem;
    padding: 4px 8px;
    border: none;
    border-radius: 6px;
    background: #444;
    color: white;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.2s;
}

.copy-btn:hover {
    opacity: 1;
}

pre {
    background: var(--code-bg);
    color: var(--code-text);
    padding: 1rem;
    border-radius: 6px;
    overflow-x: auto;
    font-family: Consolas, monaco, monospace;
}

.brand-group {
    display: flex;
    align-items: center;
}