:root {
    --bg: #fff;
    --text: #000;
}

[data-theme="dark"] {
    --bg: #121;
    --text: #eee;
}

body {
    background-color: var(--bg);
    color: var(--text);
    transition: background-color 0.3s ease, color 0.3s ease;
}