:root {
    --bg: #fff;
    --text: #222;
    --text-bue: #9CDCFF;
    --text-brown: #AC4C1F;
    --text-yellow: #FFC914;
}

[data-theme="dark"] {
    --bg: #121;
    --text: var(--text-bue);
}

[data-theme="dark"] {
    --code-bg: #1e1e1e;
    --code-text: #f1f1f1;
}

[data-theme="light"] {
    --code-bg: #f5f5f5;
    --code-text: #333;
}

[data-theme="dark"] .site-tile,
[data-theme="dark"] .site-nav a,
[data-theme="dark"] .site-nav {
    color: var(--text)
}

[data-theme="dark"] .site-header {
    background-color: #1a1a1a;
    border-bottom: 1px solid #444;
}

[data-theme="dark"] .page-link:hover {
    color: #ddd;
}

[data-thene="dark"] .page-link:active {
    color: var(--text-brown);
}

[data-theme="dark"] a:hover {
    color: #ddd;
}

[data-theme="dark"] .main-content h1,
[data-theme="dark"] .main-content h2,
[data-theme="dark"] .main-content h3 {
    color: var(--text-brown)
}

[data-theme="dark"] .main-content h3,
[data-theme="dark"] .main-content h4,
[data-theme="dark"] .main-content h5 {
    color: var(--text-yellow)
}

/* light theme code higlighting */
[data-theme="light"] .highlight pre, code {
    background-color: #f6f8fa;
    color: #24292e;
}
/* dark theme code higlighting */
[data-theme="dark"] .highlight pre, code {
    background-color: #0d1117;
    color: #c9d1d9;
}


body {
    background-color: var(--bg);
    color: var(--text);
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: Consolas, 'Courier New', Courier, monospace;
}

.layout {
    display: flex;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

.main-content {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.pysty-dev-img {
    width: 200px;
    border-radius: 12px;
    display: block;
    margin: 0 auto;
}

.pysty-dev-brand-img {
    height: 50px;
    margin-right: 5px;
}

.code-container {
    position: relative;
    margin: 1rem 0;
}

.copy-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 0.8rem;
    padding: 4px 8px;
    border: none;
    border-radius: 6px;
    background: #444;
    color: white;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.2s;
}

.copy-btn:hover {
    opacity: 1;
}

.brand-group {
    display: flex;
    align-items: center;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer {
    padding: 20px;
    text-align: center;
}

/* Social footer */
/* Common base styles */
.social-footer {
    padding: 1rem 0;
    text-align: center;
    font-size: 0.9rem;
    border-top: 3px solid;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.social-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.social-links li a {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 0.4em;
    transition: color 0.2s ease;
}

