<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
         <!-- Load minima's style -->
        <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
        <!-- Load your dark mode overrides -->
        <link rel="stylesheet" href="{{ '/assets/css/dark-mode.css' | relative_url }}">
    </head>
    <body>
        {% include header.html %}

        <main class="container">
            {{ content }}
        </main>

        <script>
            function toggleTheme() {
                const root = document.documentElement;
                const button = document.querySelector('#darkModeToggle')
                const newTheme = root.getAttribute("data-theme") === "dark" ? "light" : "dark";
                root.setAttribute("data-theme", newTheme);
                localStorage.setItem("theme", newTheme);
                button.textContent = newTheme === "dark" ? "🌞" : "🌙"
            }

            // Load saved theme
            (function() {
                const saved = localStorage.getItem("theme") || "dark";
                document.documentElement.setAttribute("data-theme", saved);
            })();
        </script>
    </body>
</html>